[2016-09-15 16:32] steyep opened #1 "Create an issue"
Add the ability to create a new issue for a project from the workflow.

[2016-09-15 16:40] steyep opened #2 "Include Agile boards"
Want to include a way to quickly interact with Agile boards

Doc:
https://docs.atlassian.com/jira-software/REST/cloud/

[2016-09-15 16:47] steyep opened #3 "Add "watching""
Allow user to watch/unwatch issues from within the workflow.

[2016-09-15 17:39] steyep opened #4 "Write tests"

[2016-09-15 17:52] steyep opened #5 "Add work logging"
Allow user to log time from workflow. Should track time spent on a ticket by giving the user the option to start/stop progress on an issue.

[2016-09-15 23:57] steyep opened #6 "Move some processes to background"
Boost performance by querying and cacheing some of the data in the background when the workflow is launched.

[2016-09-21 20:28] #3 closed

[2016-09-21 20:28] #6 closed

[2016-09-22 15:45] steyep opened #8 "Persisted data overwriting itself"
The workflow is currently set up to persist data by issue key. This results in only the most recently added data associated with an issue to be persisted.

[2016-09-22 16:04] #8 closed

[2016-09-23 20:50] steyep opened #10 "Download user avatars"
Give the option to download user avatars

[2016-09-27 12:51] damianpoole opened #11 "Unable to login"
Whenever I  attempt to log in to my companies Jira instance I get the following.

`[2016-09-27 13:48:02][input.scriptfilter] Processing output of 'action.script' with arg 'login'
[2016-09-27 13:48:30][ERROR: action.script] (node:48618) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'status' of undefined
Credentials erased!`

I could

[2016-09-27 13:52] damianpoole commented on #11
OK so this is the issue - http://stackoverflow.com/questions/20082893/unable-to-verify-leaf-signature

[2016-09-27 13:55] steyep commented on #11
Oh, good find! I will push out a fix for this.

[2016-09-27 14:08] steyep commented on #11
@damianpoole, give this a shot: in the settings menu of the workflow ( `jira ► settings ►`), clear the cache and then update the workflow to pull the fix. Hopefully that will resolve your issue.

[2016-09-27 14:26] #11 closed

[2016-09-28 14:22] #10 closed

[2016-09-28 19:35] damianpoole opened #14 "Enable/Disable Projects & Statuses the user cares about"
The user search uses `'rest/api/2/user/assignable/multiProjectSearch'` this will only return a list of users which have access to every project in the companies Jira instance.

Also returning watched issues/assigned issues uses every status such as "Done" which makes searching for issues potentially difficult.

[2016-09-28 21:53] steyep commented on #14
Since not all Jira instances have the same statuses, they are all added to the config file by default. As mentioned in the [README](https://github.com/steyep/alfred-jira/blob/master/README.md), it is recommended that users tweak those settings to only query projects and statuses that are applicable to them:

Could that resolve your issue?

[2016-09-28 22:54] damianpoole commented on #14
It would however I was more adding the issue as an enhancement (don't think I can label it) request/incoming PR.

[2016-09-28 22:57] damianpoole commented on #14
I was thinking along the lines of making it easier for the end user, but who I am kidding. If someone uses Jira and Alfred, they very much should be able to modify an array 😆

[2016-09-28 23:11] #14 closed

[2016-09-29 15:47] steyep opened #15 "Download priority icons"
Give users the option to download priority icons by running `npm run download-priority-icons`

[2016-09-29 17:36] #15 closed

[2016-09-30 22:43] #5 closed

[2016-10-06 21:05] steyep opened #19 "Minimum work log"
Add setting in configuration that will allow a user to specify a minimum work log.

For example: always log a minimum of `30m` when working on an issue.

[2016-10-07 00:41] m-collins opened #20 "Documentation does not clarify how to log in"
Hi I'm not sure if I'm missing a trick here but it's not clear how to complete the log in step. Can you pleaseclarify

[2016-10-07 01:26] steyep commented on #20
Once you've got the workflow installed by running `npm run build`, you can launch Alfred and type the `jira` keyword. If it's your first time using the workflow, you should be prompted to login:
![screen shot 2016-10-06 at 9 12 17 pm](https://cloud.githubusercontent.com/assets/4822034/19176110/c3facee4-8c0a-11e6-9317-57784adb7160.png)
If you press `enter` on the `login` option, you should be promp

[2016-10-07 03:45] #19 closed

[2016-10-19 13:49] steyep opened #21 "Show/Hide menu items"
Allow user to configure which items are displayed in the menu for a given issue.

[2016-10-19 13:50] steyep opened #22 "Add "description""
Display a given issue's **description** in the issue menu.

[2016-10-19 15:21] steyep opened #23 "Allow user mentions when commenting"
When commenting on an issue a user may want to mention another JIRA user. By typing an `@` followed by the user's first name, a list of "mention-able" users should appear below the comment. Selecting a user will replace the `@[first_name]` with the appropriate username.

[2016-10-20 23:51] steyep commented on #23
![comment](https://cloud.githubusercontent.com/assets/4822034/19581901/99515d44-96fe-11e6-8b70-fbd5a4c3ace4.gif)

[2016-10-26 22:35] #21 closed

[2016-10-26 22:35] #22 closed

[2016-10-26 22:35] #23 closed

[2016-11-01 01:55] arvinsim commented on #20
I have the same problem. I tried following the steps above but I don't see the login option when I type "jira"

[2016-11-01 02:45] steyep commented on #20
Let's try and debug this:

1. Open Alfred's preferences
2. Select Workflows
3. Ensure that the Jira workflow is installed in your list of workflows.
4. Select the Jira workflow
5. Turn on debugging by clicking the bug icon
6. Select "Log all information" from the drop down menu
7. Open Alfred and type `jira`
8. Paste the feedback to this thread

Hopefully that will help pinpoint the issue.
<img wi

[2016-11-01 02:47] arvinsim commented on #20
This is what I got.

[code]

[2016-11-01 02:48] steyep commented on #20
What version of node are you running?
[code]

[2016-11-01 02:50] arvinsim commented on #20
I am using `v4.2.2`

[2016-11-01 02:56] steyep commented on #20
Okay, that's probably the problem, though, I thought that `4.x` introduced block-scope. I will take a closer look at this and determine which versions the workflow is _actually_ compatible with and see what I can do in the way of making it backwards compatible.

In the meantime, If you're not committed to running v4 on your machine, upgrading `node` to a newer version would probably resolve the is

[2016-11-01 03:01] arvinsim commented on #20
Thanks for clarifying the problem. Hope this helps other people having the same issue.

[2016-11-01 03:28] steyep commented on #20
@arvinsim, can you also check that the version of `node` that you have installed in `/usr/local/bin` is also `>=4.0`?
[code]

[2016-11-01 03:36] arvinsim commented on #20
@steyep Yep, it is `v4.2.2`

[2016-11-03 01:19] steyep commented on #20
Because the workflow uses ES2015, it currently requires `node` to be at version `v6.0.0` or later.

[2016-11-13 11:18] arvinsim commented on #20
@steyep Ok thanks.

[2016-11-16 00:51] steyep opened #27 "Add ability to "stop" progress on an issue without logging time"

[2016-11-18 12:53] bekinin opened #28 "Ability to view issue in browser"
Like with quick command jira project-123  show the search results and add action to open it in default browser

[2016-11-18 14:48] steyep commented on #28
Perhaps I'm misunderstanding your request, but you can currently search for an issue by name:
`jira project-123` is an alias for `jira ► search ►  project-123` and will automatically convert when you press return.

You can also open an issue in your default web browser by pressing return on the issue's summary.

Here's an example:
![demo](https://cloud.githubusercontent.com/assets/4822034/20433986

[2016-11-18 19:20] bekinin commented on #28
Yes, you answered correctly.
My trouble that I need to wait and hit enter like 3-4 time to get it opened.

So, proposal to add quick command similar to search, which just open jira id by 1 enter
like jira open abc-123 <enter> - open it in browser

[2017-01-17 20:29] steyep opened #29 "Filter issues by keywords rather than issue key"
User should be able to filter their list of tickets/watched issues by keywords. Meaning, filtering should also apply to words that appear in an issues **summary**, **description**, **status**, et cetera.

[2017-01-19 10:39] itainoam opened #30 "View my issues for current sprint"
Love your plugin!

I miss the ability to view issues assigned to me in current sprint. Would you find it useful?
Any tips about how I should go about implementing it?

Cheers,
Itai

[2017-01-19 18:44] steyep commented on #30
Thanks – I appreciate the feedback!

I actually have a generic issue open that relates to this request ( integrating with Agile boards #2  ) because I agree that it would definitely be useful. I'm currently in the process of nailing down a proper 1.0 version to release, so Agile will likely be a v2.0 feature. That said, feel free to create a pull request if you get around to integrating it sooner.

[2017-01-20 14:43] itainoam commented on #30
Awesome. I am willing to give it try.
While I have developed in JS quite a bit, didn't get a chance to work with Alfred.
Where would you start? Which project files should I start digging in to?

[2017-01-22 12:44] itainoam opened #31 "Sort Issue by Last Updated"
How are issues currently sorted?
It would nice to sort them by last update date.
For me it seems to correlate well with relevancy.

[2017-01-22 17:38] steyep commented on #31
Watched issues *are* sorted by last update date. However, issues that are assigned to you are ordered by priority. This makes more sense (at least to me) because an issue with a higher priority should take precedence over a newer issue with a lower priority.

That said, I may entertain the idea of adding a "sort by" option to the config so that a user could make that change if they wish.

[2017-01-24 17:31] joshferrell opened #32 "Error with block-scoped declarations"
I'm currently running node v 7.4.0

Here is the error I get when running jira in alfred:
[code]

[2017-01-24 18:46] joshferrell commented on #32
I figured out that the issue was on my end with NVM. I'm closing this ticket as NVM was resetting my node version to v4.*. Reinstalling nvm fixed this issue.

[2017-01-24 18:46] #32 closed

[2017-02-02 01:37] steyep opened #33 "Allow user to set increments for logging time"
Give user the ability to set an increment to which their "time spent" will be rounded.

**For example:**
A user may want to set an interval of `15 min` so that `1 hour 57min` is rounded to an even `2 hours`. Similarly, `2 mins` would be rounded to `15 mins`.

[2017-02-09 16:59] steyep opened #34 "Allow user to search JIRA using JQL"
https://confluence.atlassian.com/jiracore/blog/2015/07/search-jira-like-a-boss-with-jql
https://confluence.atlassian.com/jirasoftwarecloud/advanced-searching-764478330.html

[2017-03-04 16:47] steyep opened #35 "Make managing settings/config more user-friendly"
Relieve the user from having to manually edit values in the `config.json` file by creating a UI that will simplify configuration and add validation to the available options.

I'm opting to use [`Electron`](https://electron.atom.io/) in lieu of `Pashua` so that the settings app can have a little more flexibility. That means that the login functionality will need to be revised to use `Electron`.

[2017-03-05 04:45] #29 closed

[2017-03-05 04:45] #33 closed

[2017-03-05 04:45] #34 closed

[2017-03-05 04:45] #35 closed

[2017-03-07 00:56] steyep commented on #31
@itainoam, as of `v.1.0.1`, custom sorting has been added to the app. Once you've updated your workflow, you will be able to configure how the issues are returned to you by editing the **Sorting** section of the settings pane. In the screenshot below, issues are returned by `priority` (descending), then `key` (descending). You can add a tertiary sort by pressing the `then` button. Similarly, you c

[2017-03-07 00:57] #31 closed

[2017-03-07 06:23] itainoam commented on #31
Thanks. You are awesome! Looking forward to playing with the new version.

On Tue, Mar 7, 2017, 1:57 AM Stephen Pennell <notifications@github.com>
wrote:

[2017-03-09 15:55] seebi opened #38 "login and editSettings does not work"
Hi there,

for me, the login flow is not working.
To come around with this, can you please provide a configuration example?
I do not need a graphical version, just manual steps are fine.

[2017-03-09 16:14] steyep commented on #38
Hey @seebi, thanks for the feedback and my apologies for the inconvenience. Can you enable debugging within Alfred and post the feedback it gives you when trying to login? I'd like to get the bigger picture resolved as well.

The login process handles a few steps behind the scenes that make the workflow run more efficiently so it's not *quite* as simple as just creating the config file. My sneakin

[2017-03-09 16:52] seebi commented on #38
Hey @steyep - this worked just fine without any changes, just the command line. Thanks for the hint, I just gave you a PR in order to preserve this for others ...

[2017-03-09 17:10] steyep commented on #38
Cool, I'm glad that worked for you but that gives credence to my theory that Alfred isn't finding `node` on your `$PATH`. Would you mind attempting to open the workflow settings (`jira ► settings ► Edit Settings`) and let me know if you're able to do so?

My fear is that you may experience problems again in the future because there are multiple places in the code that expect `npm` to be on the `$P

[2017-03-09 17:13] seebi commented on #38
edit settings does not work but I solved that with `node lib/action.js editSettings` :-)

Can you tell me where to enabled debugging in alfred for the workflow?

[2017-03-09 17:22] steyep commented on #38
- Open Alfred's preferences
- Select the `Jira` workflow
- Select the "bug" icon in the upper right-hand corner
- Log "All Information"
![debug](https://cloud.githubusercontent.com/assets/4822034/23762062/e5f18228-04c2-11e7-960f-ca6a0096255d.png)

[2017-03-09 17:25] seebi commented on #38
[code]

[2017-03-09 17:26] brandenbyers commented on #38
I'm having a similar login issue. And you are correct, node does not appear to be in path for Alfred or this workflow:

[code]

[2017-03-09 17:33] brandenbyers commented on #38
I tried changing `/usr/local/bin/node` to my local `which node` in both the script filter and run script for this workflow in Alfred preferences, but it still doesn't work.

Node is installed via nvm on my machine. Is node referenced anywhere else?

[2017-03-09 18:13] steyep commented on #38
Thank you both for the feedback. It's not actually `node` that's causing the issue. It's `npm`.

zsh:1: command not found: npm

The reason is the same, though. Alfred was unable to find the `npm` command because the `$PATH` was different.

I've pushed out a hotfix for this. Could either of you checkout out the `hotfix/38-path-not-available-to-alfred` branch and let me know if the edits resolve thi

[2017-03-09 18:20] brandenbyers commented on #38
Yes, I have confirmed that the hotfix solves the login issue.

However, I am still getting an error any time I try to do anything other than edit settings.

[code]

Should I create a new ticket for this issue?

[2017-03-09 18:42] steyep commented on #38
@brandenbyers that sounds like an issue authing against your jira instance. Check your settings to make sure that the `url` is the same as how you access it via the web. One thing to check is that you're using the correct protocol (`http` vs `https`). You can toggle the protocol by clicking it in the settings.

![ssl](https://cloud.githubusercontent.com/assets/4822034/23764884/1bbd2c2c-04cd-11e7-9

[2017-03-09 18:54] brandenbyers opened #41 "My Issues and Watched Issues return 400: Bad Request"
As per #38, I am receiving an error when attempting to access My Issues or Watched Issues. However, search appears to be working.

[code]

Navigating to `{ my jira configured url }/rest/api/2/search?jql=assignee=currentUser()` in a browser and I receive a 220,315 character JSON response.

Let me know what else I can do to help figure this one out. Even just with search, you have created a great wo

[2017-03-09 20:34] steyep commented on #41
@brandenbyers can you open up the settings pane and confirm that you have *at least* one status enabled under the **Enabled Issue Statuses** heading (enabled statuses have a blue background)? If you don't see any statuses under that heading, what do you get if you run this command from the `alfred-jira` directory?
[code]

[2017-03-09 20:35] #38 closed

[2017-03-10 03:36] brandenbyers commented on #41
Yes, I have about 100 Enabled Issue Statuses selected in blue. Most of those statuses are from projects that aren't mine. Not sure if it helps to troubleshoot, but there are 150+ Projects and I have most of those disabled except for 5 of them (but I haven't disabled any of the Issue Statuses yet).

[2017-03-10 05:35] steyep commented on #41
Can you paste the below script into the terminal and run it from the `alfred-jira` directory? It's going to make a GET request to the jira instance and (presumably) throw a `400` error but it's also going to make the same request via the browser. If you are able to see the JSON dump in the browser, verify that the address in the browser starts with the same protocol that's printed in the terminal.

[2017-03-10 06:41] seebi commented on #38
@steyep the hot fix solved my issue too - well done! thank you

[2017-03-10 07:30] seebi opened #42 "Feature Request: Generic query bookmarks"
Hi @steyep - now with a working version of alfred-jira, I come directly to feature requests :)

I imagine to configure JQL queries to names in order to have fast access to my most important issues. Currently on top level there are two very specific queries bookmarked
- My tickets (some query with assignee = currentUser() )
- Watched issues (some query with watchedIssues() )

My feature request is

[2017-03-10 13:50] steyep commented on #42
Great suggestion @seebi! I will think about a good way to implement this but it definitely seems do-able.

[2017-03-11 00:32] brandenbyers commented on #41
This is the json response that I get from that script:

[code]

And I have confirmed that I do have a keychain entry for `alfred-jira`.

[2017-03-13 15:02] steyep commented on #41
Interesting. I wonder if the query is simply too long with all of your projects enabled. The [JIRA API Reference](https://docs.atlassian.com/jira/REST/cloud/#api/2/search-searchUsingSearchRequest) suggests that could be a possibility:

From what I've read, it seems like the query limit may be around 2000 characters. I have roughly 110 projects enabled but my query string only ends up being 1831 ch

[2017-03-13 20:36] brandenbyers commented on #41
It appears that my query length is less than yours.

[code]

Also, it may be worth noting that although there are 150+ projects in my Jira org, I only have 5 of them enabled in the workflow settings. However, the previous script you had me run included all of them.

[2017-03-13 21:43] steyep commented on #41
Okay so it appears that it's not an issue of length. Can you share the query string so that can I can try to make sense of the "illegal JQL escape sequence" error that's getting thrown at character 298?

[code]

[2017-03-13 22:12] steyep commented on #42
@seebi, I've pushed up the feature branch for this request. Perhaps you can check it out and let me know what you think? You can edit the default `My Tickets` and `Watched Issues` bookmarks and add more via the settings UI:
![screen shot 2017-03-13 at 6 06 08 pm](https://cloud.githubusercontent.com/assets/4822034/23877318/1f0418f2-0818-11e7-9e89-c248aaadcd6e.png)
I think before I merge it with `ma

[2017-03-14 05:15] seebi commented on #42
First of all - awesome response time! 👍 here my (way too long, sorry for that) review:

- Regarding the functionality:
    - Unfortunately I get constantly `400: Bad Request` errors with my query for bookmark-2, even if I copy the working queries from bookmark 0 and 1. I first thought that I need to escape the query somehow (because the of "issueKey+IN+watchedIssues()") but even this copied query

[2017-03-14 15:08] steyep commented on #42
Great feedback! Exactly what I was looking for – thank you!

I'm not sure I understand how that could be possible. You're saying the query works for `bookmark-0` but if you copy it as `bookmark-2` it no longer works? I've tested that and it works as intended for me. Is it possible that after making the change you forgot the click "save" in the settings, or left the settings window open? Query revi

[2017-03-14 19:48] brandenbyers commented on #41
This is what is returned: `rest/api/2/search?jql=assignee=currentUser()+AND+project+in+("SHIA", "PCDAND", "PCDIOS", "PCDWEBK", "PURE")+AND+status+in+("Pending Approval", "In Progress", "Reopened", "Change Closed", "Closed", "To Do", "Done", "Ready for Code Review", "Ready for QA", "Abandoned", "Blocked", "Needs External Review", "In Development\QA", "Pending Functional Requirements", "In Developme

[2017-03-14 19:57] steyep commented on #41
Awesome! I will look into escaping the escape character (`\`) in queries. But, for what it's worth, `Requirements / Triage` shouldn't cause a problem. I have several statuses that contain a forward slash.

[2017-03-15 21:30] proudcommerce commented on #20
hey guys,

i installed / reinstalled completely, but there is no workflow in the list :-(

[2017-03-15 22:25] steyep commented on #20
Hey @proudcommerce, my apologies for the inconvenience!

It's worth mentioning that after installing the workflow, it takes a moment or two for Alfred to recognize it. If you restart Alfred, it should show up – provided it installed correctly.

If you restarted Alfred and it's still not showing up, let's verify that the script installed the workflow where it says it did:
[code]

If that checks out

[2017-03-15 23:15] seebi commented on #42
Sorry for the late reply ...

yes, but this was maybe a caching error? I now changed my third query to the one you suggested and it worked (thanks). After that I tested a fourth bookmark with the first two queries and that worked too ... So I assume it was a caching issue or my operating error.

Maybe that too, yes :-(

ok, understood.

ok, understood as well. And yes, at least documenting this wo

[2017-03-15 23:28] seebi opened #43 "Feature Request: Make single issue result element layout customisable"
Hi @steyep - some other idea - say stop if you don't want to get any more feature requests :-)

currently you present a single issue a result set in the form

---
KEY
summary
---

This is ok, but for some cases I wish more meta data here.

What about making this customisable im a form that for each bookmark two additional fields, say `main text` and `sub text` are presented and can be filled with

[2017-03-15 23:35] seebi opened #44 "Feature Request: Usage of alt or meta key + enter for bookmarks and issues"
Hi @steyep - some other idea - say stop if you don't want to get any more feature requests :-)

In order to change to jira very fast, I would like to use the typical meta or alt function of alfred.

Currently `alt+return` on an issue searches for `bookmark-X`with spotify which is imho a bug.

More useful could be

- `Open issue in jira ` as an alternative action for an issue, as well as
-  `Open q

[2017-03-16 00:28] steyep commented on #44
Thanks for creating an issue for this, @seebi. I have actually already been working on assigning shortcuts for some of the menu items (I was hoping to resolve issue #27 by using meta-keys). One of them does exactly what you're suggesting – open an issue in the browser without having to drill down to the issue's sub-menu. The reason I haven't released it yet is because I've been trying to keep comp

[2017-03-16 01:25] steyep commented on #43
I appreciate all of your suggestions! Keep 'em coming! I will look into this.

[2017-03-16 01:36] steyep commented on #41
@brandenbyers I have pushed up a fixed for this (among other things) in the `feature/42-generic-query-bookmarks` branch. If you have a few moments, could you check it out and let me know if that resolves your issue?

[2017-03-16 07:00] seebi commented on #44
:-)

ok, so the alt, control and meta actions are not changeable at all? Or is it possible to change the meta action?

[2017-03-16 12:36] steyep commented on #44
They're all changeable. Or I guess I should say: it's possible to override the defaults. Meaning the workflow can be configured to take advantage of the meta keys but if it isn't Alfred has defaults set for them.

[2017-03-19 20:38] Lightheaded commented on #41
@steyep, I have the same issue related to escaping characters. For me the troublesome status was "Monitoring & controlling" and I tried feature/42-generic-query-bookmarks, which unfortunately did not resolve the issue. I am able to use the workflow when I disable the said filter though.

Also, when running npm build, answering a lower-case "y" to Re-install doesn't seem to do anything. A minor thi

[2017-03-20 18:28] brandenbyers commented on #41
Sorry for the delay. I tested `feature/42-generic-query-bookmarks` with the `In Development\QA` enabled but it still errors. Again, it isn't a problem anymore for me given that I don't need that status enabled anyway. But if you need me to test anything else, I can do so.

[2017-03-24 23:36] steyep commented on #41
Okay, guys, I've been trying my hardest to get the same errors you're getting. Any query I create with a `\` or `&` is properly escaped so I'm thinking it has something to do with the fact that those special characters are in a status. Those statuses are written and read from the config file (`~/.alfred-jira/config.json`) and I'm curious if the `JSON.parse`/`JSON.stringify` methods are doing somet

[2017-03-25 01:31] brandenbyers commented on #41
Here is what I get from the config.json:

`"name": "In Development\\QA", "name": "In Development"`

[2017-03-25 09:39] Lightheaded commented on #41
In my case it's

    "name": "Monitoring & controlling",

This is probably not helping. I will try to capture the request and see what is actually fired against Jira when I have a little more time.

[2017-03-25 17:23] steyep commented on #41
I appreciate both of you taking the time to test that for me. Judging from the values in your `config.json` I'm going to assume that pulling down the most recent changes to the `feature/42-generic-query-bookmarks` branch didn't resolve the issues either?

[2017-03-30 00:02] #42 closed

[2017-03-30 00:10] steyep commented on #30
Hey, @itainoam, I just pushed out an update for the workflow that may help resolve this issue for you. The update allows for the user to define the JQL query that populates the initial menu that appears when you type `jira` into Alfred (the workflow refers to them as "**bookmarks**").

Once you update to `v.1.0.2`, you can edit your settings and add a `Current Sprint Issues` bookmark with a query

[2017-03-30 20:20] steyep commented on #28
@bekinin, in `v.1.0.3` I've implemented this functionality. Once the workflow has been updated, you can quickly open issues in the browser like: `jiraopen abc-123`.

[2017-03-30 20:20] #28 closed

[2017-03-31 03:41] #27 closed

[2017-04-02 10:48] itainoam commented on #30
Thanks for your work! Looks Awesome :) I hardcoded it in, but this is much easier.

[2017-04-02 10:50] itainoam commented on #43
That's a good suggestion. I hardcoded for myself **Summary - (status)**

[2017-04-02 10:51] itainoam opened #48 "Feature Request"
It would be nice to have background caching. First time takes a few seconds to load.

[2017-04-02 10:56] itainoam opened #49 "Feature Request: Go back in menu"
Currently pressing backspace deletes a single char.
After selecting a jira ticket, it makes sense that backspace will delete the whole ticket number and not just the last char.
Let me know if it doesn't makes sense. I'll try to clarify.

[2017-04-02 23:41] steyep commented on #48
When the user launches the workflow (when `jira` is typed into Alfred), a background process is initiated to start retrieving new data and updating out-dated data (see Issue #6). So, in short, the workflow *is* caching information. Since this is designed to be an Alfred workflow as opposed to a stand-alone app, I didn't want to add any processes (background or otherwise) that aren't initiated by t

[2017-04-03 00:01] steyep commented on #49
Not sure this is achievable. I *believe* that Alfred is handling all keystroke events. I think that, basically, Alfred takes your query and passes it to the script as an argument – sort of like how when you read this comment you'll be unaware of how many times I've pressed `backspace`, you'll only see what I've submitted; that's how the script sees your interaction with Alfred.

Regardless, though

[2017-04-07 13:43] steyep commented on #49
I've given this some more thought and, though I stand by my previous comment regarding how the `backspace` button works, I think adding a **Back** option to the menus would be a nice enhancement so I'm leaving this issue open and modifying the title. Thanks for the suggestion.

[2017-05-10 08:22] azhang commented on #20
I encountered this issue as well. Turns out that since I sync my Alfred prefs with Dropbox, this script doesn't install to the correct Alfred.alfredpreferences/workflows directory. @steyep have you looked into packaging everything up into a .alfredworkflow distributable?

[2017-05-11 01:53] steyep commented on #20
Yes, @azhang, once I nail down an alpha release I will create a `.alfredworkflow` file for distribution. That being said, the install script checks `$HOME/Dropbox` first for the `workflow` folder so it doesn't seem like you should have experienced any issue. Can you elaborate?

[2017-05-16 18:18] sarumont commented on #20
I saw the same issue as @azhang with install location - the shell script did not detect my Dropbox preferences. It seems, in my case at least, it's just an error with the `find` command:

[code]

Due to the fact that `~/Dropbox` is a symlink:

[code]

This is what the macOS Dropbox app does when you're linking both a personal and business Dropbox account - it gives you `Dropbox (Personal)` and `Dr

[2017-05-16 18:22] sarumont opened #50 "Cannot log in"
I'm trying to set up `alfred-jira`, and I currently cannot log in. I'm attempting to debug via shell rather than through Alfred, and this is what I see:

[code]

And `npm-debug.log`:

[code]

I am using `nvm` to manage node versions, obviously, but I don't see that being a problem here. Any tips / ideas on how to debug this?

[2017-05-16 21:12] steyep commented on #20
Oh, okay. Good to know! Thanks.

[2017-05-16 22:38] steyep commented on #50
You really should debug this within Alfred because it's a different environment from your terminal. One of the main differences being what is available to Alfred on your `$PATH` at the time of execution. My initial thought is that `nvm` is the problem.

That said, to better determine what's happening within the Alfred environment, add this to the first line of `./lib/scriptfilter.js`:
[code]
Open

[2017-05-16 23:46] sarumont commented on #50
I started in Alfred's debugger and moved out because it was easier in the terminal. :)

Your comments sent me down a different path than I was going, and I ended up getting it working. For anyone else running into this issue, first update the first step in the workflow to use the full path to your `nvm`-managed `node`. Then, apply this patch:

[code]

[2017-05-16 23:46] #50 closed

[2017-05-17 00:51] steyep commented on #50
Cool, I'm glad you were able to get it working. Don't forget the `$` in the `spawn` command:
[code]
You might also consider testing for the `nvm` script before trying to load it – that way the workflow won't break if you uninstall `nvm` somewhere down the road 😄
[code]

[2017-05-17 19:16] sarumont commented on #50
Thanks for spotting the `$`!

As to testing for `nvm.sh`, I like my hacks as hackish as possible. 8)

Cheers!

[2017-05-18 08:01] darkwinternight commented on #1
This would be my number one feature request! 👍

[2017-05-18 08:02] darkwinternight commented on #30
@steyep I have added this bookmark even before I saw that post. I don't think it needs to be built into the workflow as people have different requirements and the ability to add JQL queries as bookmarks is amazing!

[2017-05-18 08:22] darkwinternight opened #52 "Time tracking improvements"
I would love a checkbox in the settings to disable the automatic time tracking.

It would also be cool to have a menu item to manually log time to an issue.

[2017-05-18 13:37] steyep commented on #52
Hey, @darkwinternight, thanks for the suggestions! Could you elaborate on what you mean by "disable automatic time tracking?"

Are you saying that you want the "start progress" menu item to move the issue to the main menu but *not* track your time? If so, it's worth mentioning that just because the workflow is tracking the time that you leave an issue "in progress" you _**are**_ able to stop progr

[2017-05-18 13:53] darkwinternight commented on #52
Got it... I misinterpreted the `Start Progress` feature I think. I was under the impression that it would also actually move the issue to `In Progress` in Jira! It doesn't and that's OK. Just Disregard my initial comment.

In regards to my second comment, I think the default Jira implementation would be enough. `2h` to log 2 hours without a comment, `2h Meeting with client` to log time with a comm

[2017-05-18 14:17] steyep commented on #52
I've actually been testing something locally that *will* do that. It will allow you to configure certain options for your transitions in the settings so that transitioning an issue to `In Dev` (for example) will start progress or transitioning an issue to `Ready for testing` will log your time, assign the issue to the reporter, add a comment, etc. **_That_** feature _will_ allow you to specify whe

[2017-05-18 14:54] darkwinternight commented on #52
True, but a simple regular expression should make that possible. According to [this](https://confluence.atlassian.com/jiracoreserver073/logging-work-on-issues-861257349.html), there are only a few possible values:

[This quickly hacked (JS) RegEx](https://regex101.com/r/yf62pn/1) should work:

[code]

This would give you 3 capturing groups. The first one is the time string (needs to be trimmed), t

[2017-05-18 17:03] sarumont opened #53 "Settings can fail to fetch update when cloned via ssh"
I initially cloned the repo via `ssh`, and the exec of `git fetch origin` fails when I attempt to go to Settings:

[code]

The workaround is to update to `https`:

[code]

Or clone via `https` in the beginning.

[2017-05-18 18:17] steyep commented on #52
Thanks. I'm not sure that regex will lead to a very good UX after some brief testing:
[code]
Output:
[code]

[2017-05-18 22:40] steyep commented on #53
Thanks for pointing this out. For what it's worth, the ssh issue could be related to your OS. You wouldn't happen to be running  MacOS Sierra v10.12 would you? There have been [reports of a "bug"](https://github.com/lionheart/openradar-mirror/issues/15361) that have caused similar issues. I have this line in my `.zshrc` file and I've been using ssh as my origin's remote with no issue:
[code]

But

[2017-05-18 22:40] #53 closed

[2017-05-19 11:48] darkwinternight commented on #52
Why not? Can you elaborate? I've [updated the regex a bit](https://regex101.com/r/yf62pn/4) to make it nicer. Here is your test case with a few more examples:

[code]

Output:

[code]

It's totally fine to have empty comments (`${b}` will be undefined) as I mostly log uncommented time.

[2017-05-19 13:30] steyep commented on #52
Oh, sorry, I thought that it was obvious from the test I posted. I meant that it wouldn't be a good user-experience using the previous regex because if they tried to log `2h` (for example) it would log `2 [default units]` to the issue and add a comment of `2` when they intended to log 2 hours and no comment.

Your revised expression looks promising though! By the way, PR's are always welcomed 😄

O

[2017-05-19 13:53] darkwinternight commented on #52
Oh, apparently I missed it or didn't look at the output closely 😉

It's just GitHub flavored markdown that supports Syntax highlighting.

I did submit a tiny PR already by the way but building the whole feature would take too much time for me at the moment. I hope that my regular expression can help you a bit though!

[2017-05-19 15:41] sarumont commented on #53
Yeah, I'm on 10.12. I have worked around that "bug" by just `kill`ing and restarting `ssh-agent` when I reboot (since that doesn't often happen). Thanks for pointing out other workarounds and the hotfix!

[2017-05-22 08:57] jmjeong-nemus opened #56 "My Issues and Watched Issues return '400: Bad Request'"
It seems to be related with localization. I use Korean locale in my jira enviroment.

This is error message of alfred debug console.

[code]

[2017-05-22 14:22] steyep commented on #56
The error messages state that the statuses you're searching for do not exist. My advice would be to build the JQL string in jira and then create a bookmark in the workflow using the string you just created.

[2017-05-22 14:28] #56 closed

[2017-05-28 08:08] azhang commented on #20
@steyep My dropbox dir is also `~/Dropbox (Personal)` rather than `~/Dropbox`. It doesn't seem like my dropbox installation came with a `~/Dropbox` symlink

[2017-06-08 17:27] NeckBeardPrince opened #57 "Any chance of supporting using Google as login for JIRA?"

[2017-06-08 19:19] steyep commented on #57
Honestly, I didn't even know that was an option until you created this issue. I'm assuming you're talking about [G-Suite](https://confluence.atlassian.com/cloud/integrate-with-g-suite-744721642.html)?

For simplicity's sake, this codebase uses **Basic Authentication** to auth against Jira so I'm not sure there's a good way to incorporate SSO into that mix. And, ultimately, since the Jira instance

[2017-06-10 21:46] ttuygun commented on #49
Hi! @steyep . There is a Alfred workflow that supports back feature that written in PHP. Here it's https://github.com/citelao/Spotify-for-Alfred

[2017-06-20 17:22] oxeron commented on #52
Would love to add work log to a ticket from Alfred directly, could be a nice feature.

[2017-06-25 18:01] danieljimenez opened #58 "HTTP 400, bad request."
All of my requests seem to return an HTTP 400. We have a few projects and a number of statuses, perhaps the URL is too long? It seems to be cutting off the query string based on my limited debugging

[2017-06-26 17:24] steyep commented on #58
Please refer to issue #41 on this topic. The length of your query string shouldn't be an issue. It's more likely that one of your statuses/projects has a special character that is not being properly escaped. I'm closing this issue as a duplicate but please feel free to move the conversation over to issue #41and post any error messages you get in the debugger.

[2017-06-26 17:24] #58 closed

[2017-06-26 17:51] danieljimenez commented on #58
Thanks! Sorry about that I did do a search.

[2017-06-26 17:52] danieljimenez commented on #41
What I found with mine was that it was trying to reference deleted (or archived?) projects. Not sure, I'm not a JIRA pro by any means we just started using it.

[2017-07-12 00:16] arvinsim opened #59 "Workflow is not recognized after installation"
I have followed the instructions to clone the library and run `npm run build`. I have also verified that the workflow is already installed in Alfred. However, Alfred doesn't seem to recognize it.

![screen shot 2017-07-12 at 8 14 27 am](https://user-images.githubusercontent.com/2200902/28096307-581fdcfe-66da-11e7-8ad0-a63e5e818d96.png)

![screen shot 2017-07-12 at 8 14 32 am](https://user-images.g

[2017-07-12 17:40] steyep commented on #59
@arvinsim some debugging information could help determine what's going on. Can you open the Alfred settings, navigate to the `jira` workflow, open the debug panel, and paste the response into this issue?
(See https://github.com/steyep/alfred-jira/issues/38#issuecomment-285418736 for debugging instructions.)

You could try running `npm update` within the repository to see if that resolves the issue

[2017-07-18 23:41] skyzyx opened #60 "Settings: Save should not mean Close"

[2017-07-18 23:41] skyzyx opened #61 "Settings: Toggle all on/off"

[2017-07-18 23:55] skyzyx opened #62 "Settings: Clone/duplicate bookmarks"

[2017-07-19 00:07] skyzyx opened #63 "Cron which pre-fetches my bookmarks hourly"

[2017-07-19 00:13] skyzyx opened #64 "Allow custom character for ►"
For example, I would prefer `→` over `►`.

[2017-07-19 16:57] steyep commented on #60
Agreed. I've been meaning to fix this for a while.

[2017-07-19 16:58] steyep commented on #62
I like it! Nice suggestion

[2017-07-19 17:00] steyep commented on #63
This is a duplicate of https://github.com/steyep/alfred-jira/issues/48 which has been coded but  not yet tested/pushed to `origin`.

[2017-07-19 17:00] #63 closed

[2017-07-19 17:15] steyep commented on #64
I hear ya. I could possibly offer a few different options for the separator but finding a list that doesn't break the workflow _and_ pleases everyone seems impossible.

Allowing it to be "custom" won't work based on how the workflow works. It parses arguments for the functions based on that separator and allowing something like `-` (for example) would break the workflow. Your preference would prob

[2017-07-24 20:12] steyep commented on #62
This feature was added in `v1.0.5`

[2017-07-24 20:12] #62 closed

[2017-07-24 20:12] steyep commented on #61
This feature was added in `v1.0.5`

[2017-07-24 20:12] #61 closed

[2017-07-24 20:13] steyep commented on #60
This is fixed in `v1.0.5`

[2017-07-24 20:13] #60 closed

[2017-07-30 01:14] #30 closed

[2017-08-04 01:23] jinalskothari opened #66 "Thank you for this excellent tool"
Hi @steyep, just wanted to thank you for this excellent tool you've made. It is very valuable to me. Thanks :)

I'll do PRs when I can.

PS: Sorry if it's inappropriate to create an issue for this.

[2017-08-04 02:54] steyep commented on #66
Thank you for the feedback, @jinalskothari, I'm glad you find it useful!

[2017-08-04 02:54] #66 closed

[2017-08-10 13:52] elmundio87 opened #67 "Can't update ticket status"
When I try and update the status of a ticket (eg. from "Active" to "Done") the workflow fails silently.

In the debugger I get this error;

`[2017-08-10 14:51:30][ERROR: action.script] Must supply ticketId, action, and token`

[2017-08-10 14:35] elmundio87 commented on #67
Fix is in this PR https://github.com/steyep/alfred-jira/pull/68

[2017-08-10 15:44] steyep commented on #67
@elmundio87, thanks for catching this (and the PR)! See my comments on your pull request.

Apparently, the [`atl_token`](https://community.atlassian.com/t5/Answers-Developer-Questions/quot-atl-token-quot-in-URL/qaq-p/575268) is no longer a requirement by Atlassian but I'm still requiring a value for it [here](https://github.com/steyep/alfred-jira/blob/master/lib/jira/transitions.js#L54). I will do

[2017-08-10 18:59] elmundio87 commented on #67
No problem! I've closed the PR so you can investigate this issue independently.

For anyone else experiencing this issue, [a temporary workaround has been posted](https://github.com/steyep/alfred-jira/pull/68#discussion_r132490309).

[2017-08-17 19:36] agzam opened #69 "Couldn't find a way to make it work"
Documentation I think misses the step - I couldn't find a way to login/authenticate, set our jira hostname, etc. *using Alfred 3.4.1*

[2017-08-17 20:14] elmundio87 commented on #69
1. In Alfred type "jira"
2. Select "Settings"
3. Select "Edit Settings"

[2017-08-17 21:00] agzam commented on #69
![alfred-jira](https://user-images.githubusercontent.com/1091022/29433523-5faebf08-8354-11e7-9dd8-c8ba94483310.gif)

That's what's happening on my machine

[2017-08-17 21:06] agzam commented on #69
I tried debugging the workflow, that's what I'm seeing:

`[2017-08-17 14:04:33][ERROR: input.scriptfilter] Code 127: /bin/bash: /usr/local/bin/node: No such file or directory`

I am using node installed through nvm. I guess should symlink binary to that

[2017-08-17 21:12] agzam commented on #69
I have fixed the issue with not finding node, now I cannot pass Login

[code]

[2017-08-17 23:31] steyep commented on #69
Hey, @agzam, I'm sorry you're having difficulties with the workflow! I mentioned in a previous issue (https://github.com/steyep/alfred-jira/issues/50) that I have no plans of supporting `nvm` but perhaps the patch posted there would help resolve your issue.

Could you elaborate on what you did to fix the issue? Did you symlink to `/usr/local/bin/node` like you suggested or did you go a different r

[2017-08-18 03:15] agzam commented on #69
I really appreciate your effort to reproduce it. I am not being sarcastic - genuinely pleased to see that you do care about the software you've created and put out for public use. To be honest my OSD kicked-in and made me extremely anxious. I've tried all sorts of things:

 - I've symlinked nvm version of node to /usr/local/bin/node
 - I've changed NODE_PATH var
 - I've installed different version

[2017-08-18 05:12] steyep commented on #69
Haha oh wow. Okay, here's a few things you can try (from the `alfred-jira` directory):
[code]
If you're still unable to log in:
[code]
If that _still_ doesn't work, you can try to manually login:
[code]
Hopefully one of those options will work for you. Let me know!

[2017-08-23 11:53] memelet opened #70 "Can't authenticate"
I always get a 401 on login. Are there any logs that I can have look at?

[2017-08-23 11:54] memelet commented on #70
Here's what alfred shows in debug mode
[code]

The first message is shown just before the login dialog is displayed.

[2017-08-23 13:48] steyep commented on #70
A `401` error is due to invalid credentials. Does your Jira instance use a google login? You might find this link helpful:
https://community.atlassian.com/t5/JIRA-questions/JIRA-Rest-API-authentication-always-returns-401-unauthorized/qaq-p/187181

[2017-08-30 22:53] mbulman opened #71 "Unable to Login (electron error)"
Hi,

I get a JS error when trying to Login for the first time.  I search for "electron" in past issues, but none of them line up with what I'm seeing.

I'm running node 8.2.0 and npm 5.3.0, both from /usr/local/bin, installed via homebrew

Full Alfred debug output:
[code]

Output of /Users/mbulman/.npm/_logs/2017-08-30T22_46_00_941Z-debug.log:

[code]

Thanks

[2017-08-30 22:58] steyep commented on #71
Can you run `npm update` from the `alfred-jira` directory and let me know if that resolves the issue?

[2017-08-30 23:32] mbulman commented on #71
That worked. Thanks!

Note: I had to do some file removal dancing to get npm update to succeed.  Probably should've just wiped out node_modules in the first place

[2017-08-30 23:32] #71 closed

[2017-08-30 23:48] steyep commented on #71
Cool I'm glad that worked. Sorry for the issues!

[2017-08-31 01:30] #70 closed

[2017-08-31 01:51] steyep commented on #67
This has been resolved with `v.1.0.6`.

[2017-08-31 01:51] #67 closed

[2017-09-11 08:27] AAlakkad commented on #70
@memelet  Did you managed to solve the issue?

[2017-09-11 09:59] memelet commented on #70
I am using local creds. And no, I did not resolve this issue.

[2017-09-18 09:28] grimborg opened #74 "Login is broken"
When I try to login, I get this:
[code]

I got the login window once, but there's no way to get it again.

I'm using nvm, so I added this to both workflow steps that needed it:

[code]

[2017-09-18 18:06] steyep commented on #74
I do not support `nvm` nor do I have plans to support it in the future.

That being said, it looks like `nvm use 6` is writing to `stdout` which prevents Alfred from parsing the XML. You could probably resolve the issue by redirecting the output of that command:
[code]

[2017-09-19 11:22] grimborg commented on #74
That was the problem, thanks!

[2017-09-19 11:22] #74 closed

[2017-09-29 04:18] steyep commented on #49
This issue has been addressed as of version `1.0.7`

[2017-09-29 04:18] #49 closed

[2017-10-01 23:58] steyep commented on #69
@agzam, were you ever able to get this working?

[2017-10-02 21:00] agzam commented on #69
@steyep sorry, I've been swamped lately, haven't had time to play with it again.. I will definitely try it again. I really want to get this to work on my machine

[2017-10-03 13:16] steyep commented on #69
No worries. Just following up.

[2017-10-05 13:53] andrewgiessel commented on #1
Is there anything I can do to help with this issue?  The ability to brain dump issues quickly would be wonderful.  Thanks for all your work- the workflow is amazing (a web app to change settings?  seamless download of icons?! wow)

[2017-10-05 16:28] steyep commented on #1
@andrewgiessel, thanks for the kind words. I'm glad you're finding the workflow useful. Unfortunately, I've been a little swamped at work lately and haven't been able to focus on coming up with a good implementation of this feature. If you have something in mind, definitely submit a pull request!

[2017-10-05 20:30] andrewgiessel commented on #1
Where would I start in the codebase? Is there a JIRA API page? Is there an
example command to base this on?
On Thu, Oct 5, 2017 at 12:28 Stephen Pennell <notifications@github.com>
wrote:

[2017-10-07 00:15] steyep commented on #1
I've pushed this feature to the `feature/1-create-issue` branch if you're interested in checking it out/giving me your feedback. Make sure to checkout the updates to the `README.md` for more info. Demo below:
![create](https://user-images.githubusercontent.com/4822034/31302806-b53682da-aad2-11e7-88f6-5dcd55e6f824.gif)

[2017-10-13 03:10] steyep commented on #41
I recently stood up a local test instance of Jira, created workflows containing the two problematic statuses mentioned in this issue (`Monitoring & controlling` and `In Development\QA`), and am happy to report that I was able to reproduce the problem.

I've pushed a bugfix to the `bugfix/41-special-characters-in-query` branch that resolved the issue for me and plan to include it in the `v1.0.8` re

[2017-10-25 08:12] Soprano74 opened #77 "Login does not work"
I have tried using several URLs to our Jira server, but it fails:

[2017-10-25 10:09:52][input.scriptfilter] Processing output of 'action.script' with arg 'login'
[2017-10-25 10:10:11][ERROR: action.script] Unable to parse JSON response from stdout SyntaxError: Unexpected number in JSON at position 4
    at JSON.parse (<anonymous>)
    at /Users/tscheffer/git/alfred-jira/lib/jira/auth.js:24:23

[2017-10-25 12:34] steyep commented on #77
Are you running High Sierra by chance? I wonder if this is the same issue that is addressed by [this](https://github.com/steyep/alfred-jira/pull/76) pull request. I haven't had an opportunity to thoroughly test his fix yet but I'd be his patch would address your issue.

[2017-10-25 12:40] Soprano74 commented on #77
Yes and yes, running High Sierra and this patch works for me!

Thanks for the quick reply.

[2017-10-25 12:40] #77 closed

[2017-10-25 22:02] jhopper28 opened #79 "Enabled Projects doesn't seem to work"
First of all, the settings Electron app doesn't load all the projects I have access to.

Secondly, even if I disable some of the projects in the settings app, the workflow still returns results for those projects, so the settings seem to be ignored.

[2017-10-25 23:28] tonymoxtra opened #80 "Not able to login in macOS High Sierra"
After I click login, it returns "Login Canceled" and consoled below:

    at Object.parse (native)
    at /Users/tonyxu/Dev/Github/alfred-jira/lib/jira/auth.js:25:23
    at ChildProcess.exithandler (child_process.js:197:7)
    at emitTwo (events.js:106:13)
    at ChildProcess.emit (events.js:191:7)
    at maybeClose (internal/child_process.js:877:16)
    at Socket.<anonymous> (internal/child_proce

[2017-10-25 23:40] tonymoxtra commented on #80
Issue resolved by https://github.com/steyep/alfred-jira/pull/76#pullrequestreview-72044745

[2017-10-26 01:04] #80 closed

[2017-10-26 01:09] tonymoxtra opened #81 "Search result always show cached result"
Even if I set cache limit to 0, the search result always return cached result.
What happened is if I search "A", it shows result "AX", "AY","AZ" which is fine, but if I now search "B", it still show "AX", "AY", "AZ".
I have to manually clear cache to see new result.

[2017-10-26 20:53] steyep commented on #79
Interesting. I have not experienced either of those two issues.

According to Jira's API documentation for "[get all project](https://docs.atlassian.com/jira/REST/cloud/#api/2/project-getAllProjects)," it doesn't appear that there's any max limit of projects that it will return for a user. If you go to `http://{your_jira_address}/rest/api/2/project` in a browser, do you see any of the projects tha

[2017-10-27 05:16] steyep commented on #81
Thanks for creating an issue for this. I've run into that same annoyance myself but hadn't gotten around to fixing it. It's not that the search *always* shows the cached result, it's just that search results are persisted for 45 seconds – which can be annoying if you want to perform another search before 45 second has expired.

Anyway, I think I've come up with a working solution that isn't depend

[2017-10-27 05:46] tonymoxtra commented on #81
It works great now. Thank you very much @steyep

[2017-10-27 13:11] steyep commented on #81
Cool, glad to hear it!

[2017-10-27 13:31] steyep opened #82 "Add white icons for use with darker Alfred themes"

[2017-10-27 14:34] steyep opened #83 "Fix Alfred 2 debugging oversight"
The logging function references `process.env.alfred_debug` to determine when to log messages but it does not exist in Alfred 2.

[2017-10-27 14:56] #83 closed

[2017-11-03 19:17] leonkatz opened #86 "jira Login lot launching"
I did the setup as stated with alfred-jira, and powerpack. The workflow is installed. But when I type jira in Alfred it shows "LOGIN". When I click it nothing happens.

[2017-11-03 20:11] steyep commented on #86
Are there any errors logged if you open Alfred's debugger?

[2017-11-03 20:41] leonkatz commented on #86
Starting debug for 'jira'

[2017-11-03 13:40:26][STDERR: input.scriptfilter] Unable to get options. auth.checkConfig did not pass.
[2017-11-03 13:40:27][ERROR: action.script] /bin/bash: -c: line 0: unexpected EOF while looking for matching `"'
/bin/bash: -c: line 1: syntax error: unexpected end of file
(node:12155) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Er

[2017-11-03 20:47] leonkatz commented on #86
Just FYI I'm running High Sierra

[2017-11-03 21:07] leonkatz commented on #86
$ /usr/libexec/path_helper
PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/VMware Fusion.app/Contents/Public:/Library/Frameworks/Mono.framework/Versions/Current/Commands:/Applications/Wireshark.app/Contents/MacOS"; export PATH;
$ /usr/libexec/path_helper | awk '{print $1}'
PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/VMware

Looks like space in the path might b

[2017-11-03 23:17] steyep commented on #86
Ahh yeah I bet you're exactly right. Could you try applying this patch and letting me know if it resolves your issue?
[code]

[2017-11-06 17:19] leonkatz commented on #86
Updated file, now getting this error.

[2017-11-06 09:16:54][STDERR: input.scriptfilter] Unable to get options. auth.checkConfig did not pass.
[2017-11-06 09:16:55][ERROR: action.script] /bin/bash: Fusion.app/Contents/Public:/Library/Frameworks/Mono.framework/Versions/Current/Commands:/Applications/Wireshark.app/Contents/MacOS: No such file or directory
/Users/leon.katz/work/git_sandbox/alfred-jir

[2017-11-06 17:40] leonkatz commented on #86
I installed electron manually, but still got the same error. Was able to run the command from the command line and get the login screen.

[2017-11-07 17:11] steyep commented on #86
@leonkatz can you let me know if this works?:
[code]

[2017-11-08 01:33] leonkatz commented on #86
This worked great. Thank you for the quick response.

[2017-11-08 13:23] steyep commented on #86
Great! I'll get this merged into `master` then. Thanks for testing!

[2017-11-08 14:00] #86 closed

[2017-11-08 19:26] elmundio87 opened #89 "Unable to open the Settings window from Alfred"
Recently, I've become unable to open the Settings window from within the Alfred workflow. Selecting `Alfred Jira Workflow -> Settings -> Edit Settings` doesn't do anything.

If I run `npm -s run electron` within the alfred-jira git repository, the settings window opens and I can edit and save changes as normal.

I've tried running the debugger while reproducing the issue, but it captured no error

[2017-11-08 21:53] steyep commented on #89
What version of the workflow are you using? What version of Alfred are you using?

[2017-11-09 09:43] elmundio87 commented on #89
Alfred 3.5.1
Latest version of the workflow - commit ID 06476c1d6a6f57af5689e7e2a72e9c9d8f37cff8

[2017-11-09 11:14] elmundio87 commented on #89
A bit more info;

I wasn't aware that the workflow gets copied into the Alfred.alfredpreferences sync folder.

I've tried running `npm -s run electron` from within this directory, and I get this output;

[code]

[2017-11-09 11:17] elmundio87 commented on #89
OK, I've solved the issue by deleting the `node_modules` folder within `Alfred.alfredpreferences/workflows/_jira`

[2017-11-09 14:59] steyep commented on #89
The `Alfred.alfredpreferences/workflows/_jira` directory is just a symlink to your cloned repository. You can run `readlink Alfred.alfredpreferences/workflows/_jira` to see the directory it's pointing at. So it seems odd that you would have different results depending on the directory you're running the command from. I'm guessing one of the modules did not correctly interpret symlinks? I guess tha

[2017-11-09 15:25] elmundio87 commented on #89
The output of `readlink Alfred.alfredpreferences/workflows/_jira` is blank, implying that it isn't a symlink.

I renamed the _jira folder and created the symlink manually, but then I got 2 entries for "Alfred Jira Workflow" when I activated Alfred so I reverted it.

[2017-11-09 15:46] steyep commented on #89
Did you use the workflow on more than one computer? I suppose something like that could botch the symlink but the workflow itself only makes a symlink of your cloned repo – it doesn't copy the directory into your workflows directory.

[2017-11-09 16:41] steyep commented on #89
Yeah I suppose that could do it

[2017-11-09 16:55] steyep commented on #89
Actually, I just noticed that `./node_modules/.bin/electron` is a symlink as well which probably further complicates matters. I'm going to update the code to use the realpath.

[2017-12-19 23:01] jhopper28 opened #90 "Error is thrown parsing JSON when attempting to log in"
Using the same credentials to sign in that I do in JIRA, I recently starting getting the following error and am unable to use the workflow:
[code]

[2017-12-31 19:50] steyep commented on #90
@jhopper28 sorry for the delayed response! Do you get that output when trying to view one of your "bookmarks" or when as soon as you type `jira`? Are you able to open the settings app?

I'd ensure that the settings file is located where the workflow expects it to be (`~/.alfred-jira/config.json`). You might also be able to "reset" things by logging out and then logging back in.

Can you also verif

[2018-01-15 21:32] justinffs commented on #1
Just tried it.  Had to make one change to get it to work

[line 96 lib/create.js](https://github.com/steyep/alfred-jira/blob/feature/1-create-issue/lib/create.js#L96)

[code]

[2018-01-16 14:44] steyep commented on #1
Nice catch @justinffs! Could you PR your change into `feature/1-create-issue`?

[2018-01-24 16:12] richardmuhler commented on #41
Hey, I just tried setting up the plugin and I am still experiencing this issue. Has this been resolved? I am running 1.0.8.

[2018-01-24 19:13] steyep commented on #41
@richardmuhler can you checkout the `develop` (or `bugfix/41-special-characters-in-query`) branch and see if that fixes your problem? I haven't merged those into `master` yet.

[2018-01-26 08:35] richardmuhler commented on #41
I switched to develop:
[code]
Then cleared cache and logged in again and still get the 400 error when listing my tasks.
I can search for some of my tasks but far from all.

[2018-01-30 18:31] eriknomitch commented on #69
I got around this issue when using nvm by editing the workflow itself (right click on the "Script Filter") to this:

[code]

Now the workflow will quickly source `nvm` and `node` will be set to the proper version. Your `$NODE_DIR` may differ.

![image](https://user-images.githubusercontent.com/477776/35584050-667b8a68-05b9-11e8-8aca-3c383f8fc66b.png)

[2018-02-15 15:30] elmundio87 opened #91 "Refresh project list?"
I'm having some issues with the list of projects present in the "Enabled Projects" section.

Some of the projects in the list no longer exist on Jira (so will cause an HTTP 400 error if enabled in the workflow), and several new Jira projects are missing from the list.

If I uncheck "limit query to enabled projects" I can see tickets from those missing projects.

Is there a way to refresh the list

[2018-02-15 18:28] steyep commented on #91
Running this from the `alfred-jira` directory should refresh your settings for you:
[code]

[2018-02-15 19:23] elmundio87 commented on #91
Thanks, that script added the missing projects!

[2018-02-27 23:50] deanputney commented on #57
I'm also interested in this feature. This seems like a pretty well-used application, so I may look into adding this functionality in a PR if I have time.

[2018-03-01 18:56] trobrock commented on #57
Anyone know how to get auth working with this for an account that is setup with g-suite auth?

[2018-03-01 18:57] trobrock commented on #57
@steyep would also love to pair on this at some point if you are interested.

[2018-03-06 06:03] alexsanjoseph opened #93 "Add transition without comment directly from Alfred"
First of all, thanks for this amazing app. I was mindblown by the features! I just had one query.

Is there any way to transition an issue without redirecting to the browser and adding a comment? Can we do a transition directly without leaving Alfred?

Cheers!
Alex

[2018-03-06 21:46] steyep commented on #93
Thanks! Yes, I do have that feature in the works.

[2018-03-08 07:31] jgogstad opened #94 "If sync folder is set, install script doesn't work"
I had set my "Syncing" directory (under Alfred Preferences->Advanced) to a custom folder I use for backups. If this directory is set, Alfred looks there for workflows, not in the default `~/Library/Application Support/…` directory. Thus it finds no jira workflow after following the installation instructions.

I suggest that you (ideally) update the install script to figure the correct place to put

[2018-04-09 16:33] ryanmumby commented on #82
[icons-white.zip](https://github.com/steyep/alfred-jira/files/1890801/icons-white.zip)

white icons ^^^

[2018-04-09 16:37] ryanmumby opened #95 "400 Error for my tickets and watched issues."
For both watched issues and my issues i'm getting the following error

[code]

[2018-04-09 18:47] steyep commented on #82
Thanks @ryanmumby!

[2018-04-09 18:59] ryanmumby opened #96 "In Settings "Unable to Check for Updates. No Git Repo Found""
As you can see in the attached screenshot, I can't access any options within **Settings**

<img width="557" alt="screen shot 2018-04-09 at 2 43 18 pm" src="https://user-images.githubusercontent.com/24573618/38516691-d2d4085c-3c05-11e8-8025-80491f841ec3.png">

Logging gives me the following

[code]

I can access settings manually using
`npm -s run electron`

Tried to delete node_modules and rerun t

[2018-04-09 19:02] steyep commented on #95
@ryanmumby, yeah that does sound a lot like the issue discussed in #41 checkout the `develop` branch and see if that resolves that error.

[2018-04-09 19:13] steyep commented on #96
Did you clone the repo or just download it? It's throwing that error because it can't find the `.git` directory.

[2018-04-09 19:25] ryanmumby commented on #96
@steyep  i think i may have downloaded - is there a way to quickly correct this or do I have to clone and start from scratch?

[2018-04-10 14:17] steyep commented on #96
I believe you'll need to remove the existing workflow, clone this repo, and reinstall it. The good news, however, is that all of your settings/configurations are saved in a separate directory (`~/.alfred-jira`) so your settings shouldn't be affected.

That being said, it's still probably a good idea to make a copy of that directory before moving things around.

[2018-04-10 19:55] ryanmumby commented on #96
This worked! Thanks.

[2018-04-10 19:55] #96 closed

[2018-04-26 13:46] Lamadros commented on #69
holly cow finally  it's works.
Thanks @eriknomitch  for instruction.

I only want to add this:
for determine $NODE_DIR just use this command `which node`

Also pay attention that you should change Script Filter AND Run Script ( in preference Alfred)

[2018-05-03 00:31] hangtwenty commented on #59
I got the same. Alfred 2, macOS 10.13.4, node installed via `brew` and node version is currently v6.14.2. The debug help from https://github.com/steyep/alfred-jira/issues/38#issuecomment-285418736 is very helpful though, it revealed a simple cause for me:

[code]

So in my case the issue is I installed with, `brew install node@6` and so `which node` -> `/usr/local/opt/node@6/bin/node`. While I cou

[2018-05-09 09:14] meGAmeS1 commented on #57
Hi, I'm also interested in this feature. I'm not familiar with NodeJS but I could help if you need more hands

[2018-05-30 20:01] AryanJ-NYC commented on #57
I'm throwing my hat in the ring as well. Will help if needed.

[2018-07-11 16:46] newmaniese opened #97 "Does not work with Fish shell as default (perhaps others)"
Due to the use of process.env.SHELL as the execution environment in alfred-exec.js, commands like logging in, do not work if Fish is set as the default shell.

Changing line 2 in alfred-exec.js to
`let shell = "/usr/bin/env bash";`
appears to fix this problem

[2018-08-03 19:13] lisaross opened #98 "Feature request: Add ability to switch between Jira accounts"
So first: this is an INCREDIBLE find. 💃 🕺  Thank you SO much for creating it. I can't even believe how helpful this has been already. So much so, that I want to use it for both of my Jira cloud instances, and just haven't been able to find a way to do so. Perhaps I'm missing something, perhaps it's not available to me.

If I'm missing - please point me correctly 🎉

If it's not possible, perhaps we

[2018-08-03 19:36] lisaross commented on #57
FWIW I don't have the gsuite integration set up on my cloud instance (this allows your organization to connect any/all users to the domain), but I DO use the google login option (I connected my google account to my unified atlassian account personally). So I'm not sure how authentication with the Suite works for organizations, but I'm still able to use my old username and password with alfred-jira

[2018-08-07 05:07] alexsanjoseph opened #99 "Unable to Login"
Hi I had Alfred-Jira working fine previously, but some time back it has stopped working. This is the error from the debugger -

[code]

Can you help me figure out what's wrong?

I'm on node v8.11.3 (latest)

[2018-08-07 05:37] alexsanjoseph commented on #99
Reinstalling even after deleting the prefences didn't seem to fix the problem. After a lot of trial, and even though the repo was up-to-date, I deleted the repo and cloned again and reinstalled.

Seems to work from then. Closing the issue

[2018-08-07 05:37] #99 closed

[2018-08-07 05:40] alexsanjoseph commented on #52
👍

[2018-08-07 12:14] steyep commented on #99
@alexsanjoseph I'm glad you were able to get your issue resolved but I'm sorry to hear that you had to completely reinstall the workflow to do so.

I'll just mention this for posterity: my guess is that one of the workflow's dependencies had become outdated (presumably `electron`). If it happens again, I would recommend running `npm update` first before having to try the "nuclear" option and reins

[2018-08-07 12:47] steyep commented on #98
@lisaross thanks, I'm glad you're finding this workflow useful!

I like your suggestion but I wonder how common that scenario is. If there is a high demand for it, I can certainly look into a way to incorporate it into the app.

In the meantime, if I'm correctly interpreting your comment to mean that both of your accounts use the same user/pass authentication, you could _probably_ achieve similar

[2018-08-29 05:56] k-lyda commented on #97
@newmaniese, thanks for this one, this solves the issue.

[2018-10-25 23:31] earlonrails commented on #41
bugfix/41-special-characters-in-query this branch works for me fixing this error thanks! Awesome workflow!

[2018-10-26 02:58] steyep commented on #41
Glad to hear it! Thanks for the feedback

[2018-12-17 16:30] confiq commented on #57
I know that Atlassian have tokens now, it might help instead of SSO

https://id.atlassian.com/manage/api-tokens

[2018-12-21 09:59] mfy2a commented on #57
Atlassian token works great

[2018-12-23 13:15] confiq commented on #57
Did you manage to make it work?

[2019-01-29 14:07] timbroder commented on #1
@steyep I've pushed @justinffs feedback to a branch and opened a PR to `feature/1-create-issue` #100

# Issue Type

One thing I just noticed on the new Jira cloud (I have not tested on old Jira) is that settings isn't pulling in the list of issue types

![image](https://user-images.githubusercontent.com/121503/51913346-42923e80-23a4-11e9-89aa-c8df84881453.png)

They do appear when creating the iss

[2019-01-29 22:54] steyep commented on #1
@timbroder the issue type / reporter should be pulled from your settings file (`~/.alfred-jira/.config`). The simplest thing to do would be to make a backup of that file, logout of the workflow and then log back in. That will force a refresh of all that data.

[2019-01-30 14:17] timbroder commented on #1
What should the keys be for that?

This is all that's in the create section

[code]

[2019-01-31 18:35] steyep commented on #1
Sorry, @timbroder, it's been a while since I looked at this codebase and I was incorrect about how that data is being generated. The data returned by `jira ► create ► issuetype` uses the project as context whereas the list of issue types generated by the Angular app does not pass a project parameter. The two methods make requests to different endpoints. The app uses the `rest/api/2/issuetype` endp

[2019-03-22 23:16] altryne commented on #94
Any help on this? Having the same isse

[2019-03-23 12:39] steyep commented on #94
The installation script looks for Alfred preferences in five common directories:
[code]

If you use a different directory, you can do that by passing the directory to the `build` script as the first parameter:
[code]
If that still doesn't work, please update this ticket to let me know. But I agree, I should definitely mention that in the docs.

[2019-03-26 18:07] chrismetcalf commented on #57
Confirmed: If you create an API token ala @confiq suggested above, and enter it as the password, it works!

[2019-04-10 10:46] renebaeu opened #102 "Installation: Could not locate "Alfred.alfredpreferences" at"
I was not able to install alfred-jira:

while installation, it asks:
Enter the path to your "Alfred.alfredpreferences" file:

With this error message:
Could not locate "Alfred.alfredpreferences" at "/Users/renebaumer/Library/Application Support/Alfred 3/Alfred.alfredpreferences"

The location of the file is correct. Is there anything I can do?

node: v9.4.0
Alfred: 3.8.1 (without Powerpack)

[2019-04-10 14:34] steyep commented on #102
It's not possible to install the workflow if you don't have a Powerpack license.

[2019-04-10 14:34] #102 closed

[2019-04-15 09:08] lacco commented on #102
I was running into the same issue, even with a Powerpack license...

It turned out that `install.sh` requires that at least one workflow was created before, otherwise the `workflow` directory isn't created yet. After creating an example workflow, I was able to install the jira workflow!

[2019-04-15 14:29] steyep commented on #102
Nice catch, @lacco. I did not realize that. I thought Alfred came with an example workflow but perhaps that's stored elsewhere? Anyway thanks for picking my lowly little workflow to be your first 😄

[2019-05-09 22:51] nschurmann commented on #1
is this working?

[2019-06-03 14:17] steyep commented on #90
This has been resolved with the `v.1.0.10` release

[2019-06-03 14:17] #90 closed

[2019-06-05 22:02] planetscripton opened #105 "Unable to login"
Hello,
Running:
MacOS 10.14.5
Node 12.4.0
Alfred 4.0.1 b1078

When I try to log in, I get an error "Unable to receive response from https://{my jira url}".

When debugging the workflow, this is the error:
Error: write EPROTO 4450465216:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:../deps/openssl/openssl/ssl/statem/statem_lib.c:1922:

Any ideas?

Thanks,
Dan

[2019-06-06 16:19] aaronkjones opened #106 "Unable to login using Jira with SSO"
My company uses CA Siteminder for SSO. Has anyone been able to work out how to either authenticate properly or, less ideally, inject a session id manually?

[2019-06-07 02:56] steyep commented on #105
The SSL error makes me think that maybe your jira instance doesn't support `https` protocol. Have you tried switching it over to `http` as described [here](https://github.com/steyep/alfred-jira/issues/38#issuecomment-285441482)?

[2019-06-07 17:12] planetscripton commented on #105
I'm able to log into another (test) instance that isn't using SSL, by using the http:// option - however, neither http:// or https:// work for my main instance, which is using SSL.

Is there any kind of separate key store used for alfred or this plugin, that maybe I need to import the cert to or something? It's an externally issued cert from InCommon RSA Server CA.

[2019-06-11 19:30] khamza85 opened #107 "Alfred 4 installation failed"
I'm not sure if it is possible to install it on Alfred 4. So far I'm having no success.

[2019-06-11 21:04] steyep commented on #107
At what point does the installation fail? It may be that you need to specify the path to your Alfred 4 workflows:

[code]
_I'm just guessing on the path - I do not have Alfred 4_.

If that doesn't work, can you please provide more information about the behavior you're experiencing?

[2019-06-11 21:17] khamza85 commented on #107
Your idea with explicit path worked. Thanks for a quick help

[2019-06-11 21:17] #107 closed

[2019-06-12 18:15] shane-walker commented on #107
Just in case anyone else runs into this, here was the path I had to use for the build to work.
[code]

[2019-06-14 13:51] steyep commented on #105
Are you trying to access the https endpoint over an http proxy? What you're describing seems like it could be related to https://github.com/axios/axios/issues/925.

You could try applying this patch and see if it allows you to authenticate:
[code]

[2019-07-10 18:53] anaknickerbocker opened #108 "Copy Jira Ticket URL to Clipboard"
Would it be possible to copy the Jira Ticket URL to clipboard, to easily send the URL to coworkers?

Workflow example:

Jira > My Tickets > JIRA-101 > Copy Url

[2019-07-31 10:09] hsleedevelop opened #110 "How to login on standalone JIRA server (not cloud)?"
How to login on standalone JIRA server (not cloud)?
I can't find about this in issue threads.

[2019-08-01 01:36] steyep commented on #110
This workflow was designed for standalone Jira instances. The method for logging in is the same. Enter the path to your standalone server as the Jira URL on the login screen along with the credentials associated with your account on that server.

What steps did you take that led you to believe the processes might differ? If you enable debugging on the workflow (https://github.com/steyep/alfred-jir

[2019-08-01 02:41] #110 closed

[2019-11-02 18:15] rdickert opened #111 "Can't login (401 error) on next-gen Jira cloud"
This plugin looks really cool. Thanks for your effort on this! Unfortunately, I haven't figured out how to get started. It could totally be me, but I've tried pretty thoroughly. Salient facts

* using Alfred 4 (seems to work fine - displays login screen and messages)
* On a next-gen cloud-hosted Jira project (using xxxx.atlassian.net url) ([api changes](https://blog.developer.atlassian.com/jira-cl

[2019-11-04 19:59] mjameswh commented on #111
Just faced the same issue.

This is due to Atlasian's deprecation of basic authentication with passwords, as described [here](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-basic-auth-and-cookie-based-auth/). What it means is that you can no longer use your username and password as credentials to make request through Jira's REST API.

But don't worry, the solution is simple

[2019-11-04 20:55] rdickert commented on #111
That worked, thank you @mjameswh!

[2019-11-04 20:55] #111 closed

[2019-11-12 10:01] z11i commented on #106
You can create an API token at https://id.atlassian.com/manage/api-tokens, and use that as your password.

[2019-11-27 03:59] gitjoost opened #113 "Unable to login"
macos 10.15
npm 6.4.1

Login at https://<company>.atlassian.net/login  and appropriate credentials I get a "404: Not Found"

[2019-12-04 18:53] joshrhoades opened #114 "Unable to Login"
Installed the latest build, and the first run I got the login prompt, entered all that (correctly), and got a 401 error (despite the info being correct). Tried again, and got nothing, no prompt, no error, no response at all. Killed Alfred and restarted it and still can't get any prompt. I cleaned and re-installed, logged in again (using id.atlassian.com instead of the branded URL), and got a 405 r

[2019-12-04 21:38] joshrhoades commented on #114
Finally got this working. I had to do something similar as #89, by deleting the `node_modules` in the package contents for the preferences and rerun `npm install`. Now it's all working.

[2019-12-04 21:38] #114 closed

[2019-12-27 17:43] gitjoost commented on #113
never mind, cleared it up. Login with user name + API token (not pwd).

[2019-12-27 17:43] #113 closed

[2020-01-12 16:17] TheSecEng opened #115 "Projects and Statuses are not being populated."
Installed, Logged in via API, Projects and Statuses aren't populated.

<img width="969" alt="image" src="https://user-images.githubusercontent.com/32599364/72221936-3491eb00-352d-11ea-8902-4d5aef4cbf85.png">

I’ve check using the api link in my browser and it works as expected, so does checking the statues available. Everything from the API seems to be working.

I’ve also used some of your npm scr

[2020-01-12 16:58] #115 closed

[2020-02-20 11:34] AdamMurray opened #120 "Add issue status ("Todo", "In Progress", "Closed", etc.) to issue items in list"
# Motivation

When I'm browsing through my list of tickets, I want to be able to see the status of those tickets - so that I know what I'm working on or should be working on.

Bonus points: it would be good to see the creation date of the tickets if possible

[2020-02-21 23:37] #106 closed

[2020-02-27 00:11] danielmaia19 opened #121 "Failed Login: Too Many Attempts"
I successfully installed the workflow, however, when trying to login i get the error meesage of "Login failed, too many attempts" even though it was my first attempt.

Has anyone else had this issue?

[2020-02-29 12:02] JimmyLv commented on #1
@steyep any plan to merge into master?

[2020-03-01 03:55] steyep commented on #1
Hah yeah, I thought did. I guess I forgot 🤦‍♂

[2020-03-02 22:05] emptydriptray commented on #121
I'm running into the same issue

[2020-03-04 08:45] stevyhacker commented on #121
Having the same issue here as well. Credentials were valid.

[2020-03-07 07:36] duke79 commented on #121
Same here!

[2020-03-08 00:44] ryparker commented on #69
That worked for me in Alfred 4! Thanks you!

@steyep This may be a helpful config detail to add to the README. I can open a PR if needed.

[2020-03-10 12:18] steyep commented on #69
This workflow does not support `nvm` so adding this workaround to the README might be contradictory. That being said, I am happy this workaround works for you and that it is documented in this issue for posterity!

[2020-03-10 12:18] #69 closed

[2020-03-18 04:42] DevBOFH commented on #121
Same here. Here's the debug info:

[code]

[2020-03-26 05:47] fiddler commented on #121
Same here. Debug log looks exactly like in the reply above.

[2020-03-31 09:14] AdamMurray commented on #121
I'm getting the same issue. Would love to hear some updates

[2020-04-07 22:19] mattheworiordan opened #124 "Single sign-on is not supported"
Sadly I cannot enter a username & password into Alfred as I log in via SAML into JIRA.

Any suggestions on how to work around this?  Could this support API keys / tokens instead?

Note I fixed another issue I found https://github.com/steyep/alfred-jira/pull/123, so happy to try and help with this too...

[2020-04-09 17:10] mhite commented on #124
I know this client lets you use API key:

https://github.com/go-jira/jira

Would probably have to do something similar.

[2020-04-13 13:33] bkraft4257 commented on #121
I am also encountering the same issue.

[2020-04-16 04:37] jimmychen7 commented on #124
@mattheworiordan you can actually put your API token in the password field in Alfred

[2020-04-16 04:38] jimmychen7 commented on #121
I logged in using the my API token as the password and it worked.

[2020-04-16 16:25] mhite commented on #124
@jimmychen7 - Interesting. I couldn't get this to work. Do you use hosted Jira or do you host your own?

[2020-04-22 09:03] laoyulong opened #126 "URI too long failure after login"
After login to JIRA, I can't get anything to work properly. I am being bugged by a 414 URI Too long error. Unable to even navigate the menus properly, let alone open an issue or log time.
[img](https://i.imgur.com/g5IrHKI.png)

[2020-04-28 19:34] vbabenkoru commented on #1
This does not work for me; when I select 'Create Issue', it just falls out of the Jira workflow opens a Google Search for that.
<img width="589" alt="image" src="https://user-images.githubusercontent.com/37556649/80529599-8d568980-894c-11ea-823b-5e4fa80dda9e.png">

[2020-06-02 00:05] codyolsen opened #127 "{reporter: 'Reporter is required.'} error on creating new Task issue."
I can create a bug with the creation script, but when trying to create a task I get a rejection:

![image](https://user-images.githubusercontent.com/3844315/83453838-70641900-a418-11ea-94db-02ade3267915.png)

[2020-08-25 14:46] FreeeG commented on #108
+1

[2020-08-25 14:50] FreeeG opened #131 "Custom keywords + Search + CopytoClipBoard"
Usecase 1:
I would like the ability to type "customKeyword" instead of "Jira search jiranumber"

Usecase 2:
I would like the ability to type "customKeyword1" to search and then copy-paste JIRA ticket number to the clipboard.

Usecase 3:
I would like the ability to type "customKeyword2" to search and then copy-paste JIRA ticket link to the clipboard

[2020-09-17 06:20] #41 closed

[2020-09-19 03:59] sinewave commented on #64
Just stumbled across this workflow.... WOW!!! 🤯

I hate to mention something as trivial as this given how amazing this workflow is but i'd also love to see the option to change this character or perhaps update it globally to something smaller/more discreet.

[2020-09-23 00:07] sinewave commented on #108
+💯

[2020-10-13 14:04] SamDja opened #132 "Workflow not in the list after installation"
I followed the installation steps, but I don't find the workflow inside Alfred preferences at the end of the installation process.

[2020-11-03 11:33] AlexVPopov commented on #57
Yep, tokens work, thank you @confiq.

[2021-03-26 17:11] nicolas-santos commented on #132
old one but might help someone.

I had the same issue - it is because i moved the Alfred's preferences folder - moved the symlink to the right folder - works fine (Alfred 4)

[2021-03-31 17:56] bpetrynski opened #136 "Does not work on Apple Silicon M1 due to Electron dependency"
`npm run build` command on M1 device will fail due to incompatible Electron version.

[2021-04-27 07:44] pespinel opened #137 "Error in login"
Alfred version: 4.3.3
alfred-jira: master

[code]

[2021-06-01 06:25] BjoernSchotte opened #140 "Cannot edit description when creating an issue"
Hi,

thanks for this project and your work on it!

- Alfred v4
- MacOS 11.3 Bigsur
- newest nodejs

After installing the workflow, I tried to create a new ticket in my default project I configured.

I can only edit the summary and issuetype on the alfred workflow, but I would also like to enter a description for the ticket.

According to #22 it should be enabled.

In the settings window,
![Alfred-

[2021-06-01 07:16] BjoernSchotte opened #141 "Provide information and ability to open newly created ticket from within Alfred workflow"
When a new ticket has been created, show inside Alfred workflow the newly created ticket id and provide an option to open the ticket in the browser right after creation.

[2021-06-02 07:40] BjoernSchotte commented on #22
@steyep, how can I edit the summary in Alfred (v4)? I cloned the repo yesterday, but I can't edit the summary when creating a new ticket. See #140

[2022-01-20 18:24] teeohhem opened #145 "Setup cannot find Alfred.alfredpreferences if workflows folder does not exist"
During npm setup, it assumes you already have a workflows folder inside of your Alfred.alfredpreferences folder. If you do not, the setup script will not be able to ever "find" Alfred.alfredpreferences

[2022-01-21 06:30] hb1998 opened #147 "Project dead ?"
is the project dead? If yes, I would like to create a fork for improving it.

[2022-01-22 03:45] hb1998 commented on #136
https://github.com/steyep/alfred-jira/pull/146 this fixes it

[2022-02-11 02:59] hb1998 commented on #147
I did fork it and i fixed some bugs but most of them are related to it being not working m1 macs.
https://github.com/hb1998/alfred-jira  other features work for me perfectly.

[2022-11-08 23:23] Gowiem commented on #147
@steyep any interest in bringing project back? You're the top result on Google and you have the most functionality, so it's a bummer to see this die. Would be awesome to upstream some of @hb1998's fixes and merge some of the outstanding PRs. I personally would love to see a better install workflow, which is why I originally came to these issues!

[2022-11-08 23:52] Gowiem commented on #127
Yeah running into this same issue 😢

@codyolsen did you find a way around this?

[2022-11-08 23:56] Gowiem commented on #147
@hb1998 would you mind opening up issues on your project? I would like to discuss fixing #127 and I could also push up https://github.com/steyep/alfred-jira/pull/154 if that was of interest!

[2022-11-13 04:35] hb1998 commented on #147
@Gowiem  sorry for the late reply, yeah we can collaborate